<div class="row">
<h1>Recipe Box</h1>
<h3>A place for recipes with 5 ingredients or less</h3>
  <div class="col-sm-3">
    <h3>All Recipes</h3>
      <% if @recipes.any?() %>
        <ul>
          <% @recipes.each() do |recipe| %>
            <li><a href ='/recipe/<%= recipe.id %>'><%= recipe.name() %></a></li>
          <%end%>
        </ul>
      <% else %>
          <p> There are no recipes yet! </p>
      <% end %>

      <a href="/recipes/new" method="get">Add Recipe</a>


  </div>
</div>
