<!DOCTYPE html>
<html>
<head>
  <title>Recipe Box</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <h1><a href="/">Recipe Box</a></h1>

    <%= yield %>
  </div>
</body>
</html>
