<div class="row">
  <div class="col-sm-3">
    <h3>All Recipes</h3>
      <% if @recipes.any?() %>
        <ul>
          <% @recipes.each() do |recipe| %>
            <li><a href="#"><%= recipe.name() %></a></li>
          <%end%>
        </ul>
      <% else %>
          <p> There are no recipes yet! </p>
      <% end %>
  </div>

  <div class="col-sm-6">
    <h3>Add a new recipe</h3>
    
    <form class="form-group" action="/recipes/new" method="post">
      <label for="name">What is your recipe called?</label>
      <input type="text" name="name" class="form-control">
      <label for="Ingredients">Ingredients:</label>
      <input type="text" name="ingredient_1" class="form-control">
      <input type="text" name="ingredient_2" class="form-control">
      <input type="text" name="ingredient_3" class="form-control">
      <input type="text" name="ingredient_4" class="form-control">
      <input type="text" name="ingredient_5" class="form-control">
      <label for="instructions">Instructions:</label>
      <textarea name="instructions" rows="8" cols="40" class="form-control"></textarea>
      <button type="submit" class="btn btn-primary">Add Recipe</button>
    </form>

      <a href="/" method="get">Cancel</a>
  </div>
</div>
